<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<!-- loads jquery -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- loads bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- loads in bootstrp js -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/css/styles.css" type="text/css" />

		<!-- Favicon -->
		<link rel="icon" type="image/png" href="https://cdn.iconscout.com/public/images/icon/free/png-512/peach-fruit-emoj-symbol-food-36f9bdc804a342e3-512x512.png" sizes="32x32" />


		<title>Web Scraper</title>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		       <ul class="nav navbar-nav">
		        <li><a href="/">Home</a></li>
		        <li><a href="/saved">My Articles</a></li>
		        <li class="active"><a href="/scrape"><b>SCRAPE FOR ARTICLES</b></a></li>
		        </ul>
		     <p class="navbar-text navbar-right">Developed by <a href="https://github.com/marcodarko/webScrapping" class="navbar-link" target="_blank">Marco Alvarado</a></p>
		    </div>
		  </div>
		</nav>
	

		
			{{{body}}}
		
		

	</body>
	
</html>
