<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<!-- loads jquery -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- loads bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- loads in bootstrp js -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/css/styles.css" type="text/css" />

		<!-- Favicon -->
		<link rel="icon" type="image/png" href="http://orig06.deviantart.net/3f7e/f/2013/120/2/5/chrome_icon___blue_black_by_jrathage-d63ks4s.png" sizes="32x32" />


		<title>Web Scrapper</title>
	</head>
	<body>
		<div class="jumbotron" id="hero"> 
				<h1>Web Scrapper</h1>
		</div>
		
			{{{body}}}
		
	</body>
	<form method="GET" action="/all">
	<button  type="submit">All</button>
	</form>
</html>
