<table class="table">
    <thead>
      <th> headline</th>
      <th> body</th>
      <th> link</th>
    </thead>
    <tbody>
      {{#each burgers}}
       
        <tr>
          <td>{{this.headline}}</td>
          <td>{{this.summary}}</td>
           <td>{{this.headlineLink}}</td>
        </tr>
        
      {{/each}}
    </tbody>
  </table>